:root {
  --header-height: 40px;
  --navi-height: 40px;
  --color-primary: rgb(29, 161, 242);
  --color-on-primary: hsl(0, 100%, 100%, 0.9);
  --color-background: hsl(0, 0%, 7%);
  --color-on-background: hsl(0, 0%, 66%);
  --color-surface: hsl(0, 0%, 11%);
  --color-on-surface: hsl(0, 0%, 66%);
  --color-guide: hsl(0, 0%, 16.5%);
  --color-on-guide: hsla(0, 0%, 100%, 0.7);
  --color-warning: hsl(349, 100%, 34%);
  --color-on-warning: hsl(0, 0%, 66%);
  --color-error: hsl(341, 75%, 50%);
  --color-on-error: hsl(0, 0%, 66%);
  --color-link: #3ea6ff;
  --color-input-background: hsl(200, 12%, 85%, 0.24);
  --color-input: hsl(0, 100%, 100%, 0.9);

  --mobile-menu-width: 70vw;
  --z-index-overlay: 1200;
  --z-index-on-overlay: 1300;
}

body {
  font-family: 'Noto', Arial, 'ヒラギノ角ゴ ProN W3',
    'Hiragino Kaku Gothic ProN W3', HiraKakuProN-W3, 'メイリオ', Osaka,
    'ＭＳ Ｐゴシック', 'MS PGothic', Helvetica, sans-serif;
  font-size: 14px;
  background-color: var(--color-background);
  overflow: hidden auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

textarea:focus,
input[type='text']:focus {
  outline: 0;
}

#root {
  width: 100vw;
  height: 100%;
}
